*::-webkit-input-placeholder {
	color: #2e333f;
	opacity: 1;
}
*:-moz-placeholder {
	color: #2e333f;
	opacity: 1;
}
*::-moz-placeholder {
	color: #2e333f;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #2e333f;
	opacity: 1;
}


#myVideo {
	position: absolute;
	right: 0;
	min-width: 100%;
	min-height: 1120px;
}



body {
	font-family: 'LatoRegular', sans-serif;
	color: #333;
}
h1 {
	font-size: 112px;
	font-family: 'LatoLight', sans-serif;
}
h2 {
	font-size: 45px;
}

h5 {
	font-size: 24px;
	margin-top: 10px;
}

/*main*/
body {
	font-family: 'LatoRegular', sans-serif;
}

section.main {
	min-height: 1120px;
	color: #fff;
	padding: 0;
}

.main header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 153px;
	padding: 0 78px;
	justify-content: space-between;
	border-bottom: 1px solid #74746e;
}

.main header a {
	text-decoration: none;
	color: #fff;
}

.logo {
	font-size: 62px;
	font-family: 'LatoLight', sans-serif;
	text-transform: uppercase;
	z-index: 1;
}

.logo .logo-link {
	font-family: 'MyriadProegular', sans-serif;
	font-weight: bold;
}

.header-nav {
	position: relative;
}

.header-nav-main-list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 24px;
}

.header-nav-main-list li {
	margin-right: 70px;
}

.header-nav-main-list li:last-child {
	margin-right: 0;
}
.header-nav-main-list li:nth-child(2) {
	position: relative;	
}
.material-icons-expand_more{
	position: absolute;
	top: 0;
	right: -30px;
	cursor: pointer ;
}

.header-nav-drop-list {
	display: none;
	position: absolute;
	top: 96px;
	left: 107px;
	padding: 20px 25px;
	font-size: 20px;
	background-color: #fff;
	border: 1px solid #ededed;
	border-radius: 1px;
	width: 195px;
	height: 144px;
	z-index: 1;
}
.header-nav-drop-list li a{
	color: #333333;
}

.main-heading {
	font-size: 34px;
	margin-top: 160px;
	margin-bottom: 130px;
}

.main-form {
	font-size: 20px;
	padding: 30px;
	background-color: #daddde;
	border-radius: 3px;
}

.main-form  input {
	padding: 7px 18px 8px;
	border: 1px solid #cccccc;
	border-radius: 1px;
	margin-bottom: 10px;
	width: 310px;
}


.form-btn {
	font-family: 'LatoBold', sans-serif;
	text-transform: uppercase;
	padding: 13px 0 14px 0;
	text-align: center;
	background-color: #5dbdfe;
	border-radius: 1px;
	border: none;
	box-shadow:  3px 3px 3px #b0afae;
	margin-top: 10px;
	color: #fff;
	width: 310px;
}



/*about*/
section {
	padding: 120px 0;
	line-height: 1.7;
}
.about-text {
	font-size: 20px;
	font-family: 'LatoRegular', sans-serif;
	margin: 30px 0 60px;
	padding: 0px 20px;
	opacity: 0.8;
}

.const-margin {
	margin-top: 60px;
}

.about-content-text {
	margin-left: 120px;
}

.content-text{
	font-size: 20px;
	margin-top: 25px;
	opacity: 0.8;
}

.about-content-icon {
	height: 90px;
	width: 90px;
	background-color: #5dbdfe;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	float: left;
}
section.about .material-icons-ico {
	font-size: 56px; 
	color: #fff;
}



/*Features */

section.features::before {
	content: "";
	display: block;
	background: -webkit-linear-gradient(#dedede, #f1f1f1);
	background: -o-linear-gradient(#dedede, #f1f1f1);
	background: linear-gradient(#dedede, #f1f1f1);
	width: 100%;
	height: 8px;
	margin-bottom: 120px;
}

section.features {
	background-color: #f1f1f1;
	padding-top: 0;
}

.features-content-icon {
	float: left;
	margin-top: -10px;
}

section.features .material-icons-ico {
	font-size: 70px; 
	color: #d4d4d4;
	line-height: 70px;
}

.feature-content {
	margin-bottom: 60px;
}

.feature-content:last-child {
	margin-bottom: 0;
}

.feature-content-text {
	margin-left: 100px;
}
.feature-content-text p {
	padding-right: 30px;
}

.red-block, .blue-block {
	width: 50%;
	height: 487px;
}

.feature-img-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
}
.red-block {
	background-color: #f34235;
}

.blue-block  {
	background-color: #5dbdfe;
}

.bg-man-block {
	position: absolute;
	top: -22px;
	right: 78px;
}

/*advantages*/


section.advantages {
	background-color: #f34235;
	color: #fff;
	position: relative;
}

section.advantages h5 {
	margin: 30px 0;
}

.advantages-icon {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	font-size: 45px;
	font-family: 'LatoBold', sans-serif;
	color: #f34235;
	margin: 0 auto;
}

.advantages-icon-number {
	margin-left: 10px;
}
section.advantages .content-text {
	padding: 0 5px;
}

/**/

section.testimonials {
	background-color: #f1f1f1;
}
section.testimonials .testimonials-icon {
	margin-top: 60px;
}
section.testimonials .testimonials-icon img {
	margin: 0 auto;
	margin-bottom: 25px;
}

.testimonials .about-text {
	margin-top: 0;
	margin-bottom: 40px;
}

.testimonials-avatar {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}

.testimonials-name {
	font-size: 24px;
	margin-top: 20px;
}

.testimonials-name a {
	color: #5dbdfe;
}

/*testimonials-slider*/
.slick-dots li.slick-active button {
	background-color: #333;
}
.slick-dots li button {
	width: 9px;
	height: 9px;
	background-color: #e1e1e1;
}


/*team*/
section.team h2, section.faqs h2 {
	margin-bottom: 60px;
}

.team-avatar {
	width: 201px;
	height: 201px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}

h5.team-name {
	font-size: 24px;
	margin-top: 20px;
}

.team-post  {
	font-family: 'MyriadProRegular', sans-serif;
	margin: 10px 0;
	font-weight: bold;
	color: #5dbdfe;
	font-size: 16px;
}
.team .about-text {
	margin: 0;
	padding: 0 5px;
}

/*FAQs*/

section.faqs {
	background: url(../img/faqs_bg.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.faqs-wrap-content {
	background-color: #dd3c30;
	color: #fff;
	padding: 23px 20px;
	position: relative;
	margin-bottom: 30px;
}
.faqs .faqs-wrap-content:last-of-type {
	margin-bottom: 0;
}

.faqs-wrap-content h5 {
	margin-top: 0;
}

.faqs-wrap-content .about-text {
	display: none;
	padding: 0 10px 0 0;
	margin: 30px 0 0 0;
}

.faqs .testimonials-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 24px;
	right: 20px;
	background-color: #fff;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	color: #dc3c30;
	font-size: 24px;
}


/*work*/


.work .about-text {
	padding: 0;
	margin: 0;
}
.work-text{
	font-size: 20px;
	color: #5dbdfe;
	margin-top: 30px;
	margin-bottom: 15px;
	padding-right: 5px;
}

/*carosel*/

section.carosel {
	padding: 0;
}

.carosel img {
	max-height: 360px;
}


/*blog*/
section.blog {
	background-color: #f1f1f1;
	z-index: -2;
	position: relative;
}

.blog-wrap {
	position: relative;
	height: 350px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-end;
	box-shadow:  3px 3px 3px #e3e3e3;
}	
.blog-img  {
	position: absolute;
	z-index: -1;
}

.blog-time {
	color: #cfcfcf;
	font-size: 16px;
	font-family: 'MyriadProRegular', sans-serif;
	padding-left: 30px;
}
.blog-text {
	font-size: 24px;
	color: #fff;
	font-family: 'LatoRegular', sans-serif;
	padding-left: 30px;
	padding-bottom: 20px;
}

.blog .about-content-icon{
	font-size: 24px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-color: #5dbdfe;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 25px;
	right: 25px;
}
.blog .about-content-icon a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	color: #fff;
}
.blog .about-content-icon a:hover {
	text-decoration: none;
}

/*partners*/

.partners h2 {
	margin-bottom: 60px;
}
.partners-logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.partners-logo img {
	height: 65px;
	opacity: 0.4;
	width: 100%;
}

/*contact*/
section.contact {
	color: #fff;
	background-color: #2c2c2c;
	font-size: 20px;
	padding-bottom: 0;
}	
section.contact h2 {
	margin-bottom: 60px;
}

.contact-text {
	font-family: 'LatoBold', sans-serif;
}

.contact-tel {
	font-family: 'LatoRegular', sans-serif;
	margin-bottom: 60px;
}
.contact-tel a {
	color: #fff;
}

.contact .social  {
	font-size: 24px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.social .social_link {
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.social .social_link  {
	text-decoration: none;
}

.social_link.facebook {
	background-color: #3b579d;
}
.social_link.twitter {
	background-color: #5ea9dd;
	margin: 0 11px;
}
.social_link.google {
	background-color: #df4a32;
}

.copyright	{
	font-size: 14px;
	opacity: 0.1;
	margin-bottom: 30px;
}

/*map*/

section.map {
	padding: 0;
	position: relative;
}

.map-icon {
	font-size: 72px;
	color: red;
	top: 48%;
	left: 53%;
	position: absolute;
}


/*btn-up*/
.btn-up {
	position: fixed;
	bottom: -120px;
	right: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background-color: #5dbdfe;
	z-index: 100;
	font-size: 50px;
	color: #fff;
}
.btn-up.active {
	bottom: 120px;
}