body {
	font-family: 'OpenSansRegular', sans-serif;
}

header {
	padding: 13px;
	height: 63px;
}
h1{
	font-size: 48px;
}
h2 {
	font-size: 35px;
}

h4 {
	font-size: 21px;
}
h5 {
	font-size: 14px;
}
a:hover  {
	text-decoration: none;
}

/*Logo*/
.logo_text {
	position: relative;
	display: inline-block;
}

.logo_text .dating {
	position: absolute;
	left: 86px;
	font-size: 8px;
	color: #16b4dc;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.brides {
	font-size: 36px;
	color: #000;
	font-family: 'OpenSansBold', sans-serif;
}

/*top-menu*/
.top-menu {
	padding-top: 17px;
	font-size: 18px;
}

.top-menu ul li {
	display: inline-block;
	padding-right: 44px;
}
.top-menu ul li a{
	color: #757575;
}
.top-menu ul li:last-child a {
	padding-right: 0;
}
.menu-trigger {
	display: none;
	text-align: center;
}

.language-selector_wrap {
	position: relative;
}

.wrap-lang {
	color: #0e0e0e;
	font-size: 15px;
	position: relative;
}
.wrap-lang .arrow {
	background: url(../img/header-arrow.png) 0 0 no-repeat;
	width: 7px;
	height: 4px;
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
}

.language-selector_focus .wrap-lang .arrow {
	right: 3px;
}
.icon-lng{
	float: left;
	width: 24px;
	height: 16px;
	background: url(../img/header-snipet.png)no-repeat 0 0;
}
.icon-german {
	background-position: 0 -21px;
}
.icon-spanish {
	background-position: 0 -42px;
}
.icon-italian {
	background-position: 0 -63px;
}

.wrap-lang .lang {
	padding-left: 36px;
	display: block;
}

.language-selector {
	display: inline-block;
	border: 1px solid #a9a9a9;
	padding: 11px 8px;
	width: 123px;
	border-radius: 4px;
}
.header-link {
	display: inline-block;
	padding: 9px 24px 11px;
	background-color: #fff;
	color: #707070;
	border: 1px solid #a9a9a9;
	border-radius: 4px 4px;
	margin-left: 34px;
	font-size: 15px;
	font-family: 'OpenSansRegular';
}

.header-link:hover {
	color: #16b4d1;
	border-color: #16b4d1;
}
/*Language Selector: popup-memu*/
.language-selector_focus {
	display: none;
	width: 123px;
	background-color: #fff;
	border: 1px solid #a9a9a9;
	border-radius: 0 0 4px 4px;
	padding: 11px 8px;
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 0px;
	border-top: none;
}
.language-selector_focus .wrap-lang {
	line-height: 13px;
}

.language-selector_focus .wrap-lang {
	margin-top: 10px;
}
.language-selector_focus .wrap-lang:first-child {
	margin-top: 0;
}

.language-selector_wrap .lang:hover a {
	color: #16b4dc;
}

/*main-form*/
.container-form {
	background: url(../img/form-bg.jpg)no-repeat center;
	background-size: 100% 100%;
	position: relative;
	color: #fff;
}

.form-logos {
	width: 820px;
	height: 236px;
	background-color: rgba(0,0,0,.36);
	font-size: 17px;
	padding-top: 44px;
	margin-top: 348px;
}


.form-logos-wrap {
	padding-bottom: 35px;
}

.form-icon {
	float: left;
	margin-right: 15px;
	width: 65px;
	height: 65px;
	background: url(../img/form-snipet.png)no-repeat;
	background-position: -17px 0;

}

.form-icon_ladies {
	background-position: -17px -145px;
}
.form-icon_secure {
	background-position: -17px -70px;
}
.form-icon_private {
	background-position: -17px -217px;
}

.form-text {
	font-size: 26px;
	font-family: 'OpenSansBold';
	padding: 10px 0 3px;
}

.main-form {
	width: 400px;
	height: 495px;
	background-color: rgba(0,0,0,.25);
	text-align: center;
	padding: 19px 10px 10px 20px;
	margin-bottom: 25px;
	margin-top: 89px;
	position: relative;
}

.fb-link {
	background-color: #3c5a99;
	display: inline-block;
	padding: 10px 5px 8px 10px;
	margin-top: 12px;
	margin-bottom: 19px;
	position: relative;
	color: #fff;
}
.fb-link:hover {
	background-color: #223865;
	color: #fff;
}

.fb-link::after{
	display: block;
	content: '';
	background: url(../img/fb-icon.png)no-repeat;
	width: 31px;
	height: 31px;
	position: absolute;
	top: 0;
	left: -32px;
}


.main-form input {
	width: 279px;
	font-size: 14px;
	color: #000;
	padding: 0 13px;
	line-height: 40px;
	border: 1px solid #e8e8e8;
	margin-bottom: 17px;
	float: right;
}

.mf-text {
	margin-right: 17px;
	padding-top: 14px;
	display: inline-block;
	text-align: right;
}
.mf-date .mf-text, .mf-name .mf-text_last {
	padding-top: 8px;
}

.mf-date_day, .mf-date_month, .mf-date_year {
	float: right;
	position: relative;
}
.mf-date_day input, .mf-date_month input, .mf-date_year input {
	float: none;
} 
.mf-date input {
	width: 90px;
}

.mf-date_arrow-top, .mf-date_arrow-bottom {
	background: url(../img/form-arrows-date.png) 0 0 no-repeat;
	height: 5px;
	width: 12px;
	display: block;
	position: absolute;
	top: 14px;
	right: 11px;
}
.mf-date_arrow-bottom {
	background: url(../img/form-arrows-date.png) 0 -6px no-repeat;
	top: 24px;
	right: 11px;
}

.mf-date_month .mf-date_arrow-top, .mf-date_month .mf-date_arrow-bottom  {
	right: 14px;
}
.mf-date .mf-date_m {
	margin: 0 4px 0 5px;
}

.mf-btn {
	background-color: #5f9c10;
	font-size: 17px;
	padding: 12px 18px;
	margin-bottom: 10px;
	border: none;
}

.mf-btn:hover {
	background-color: #4c7e0b;
}

.mf-terms {
	color: #c8c8c8;
	font-size: 12px;
}

.main-form .mf-terms a{
	color: #fff;
	text-decoration: underline;
}

/*Ladies Online*/
.ladies-container {
	max-width: 294px;
}

.ladies-online {
	margin-top: 48px;
	text-align: center;
}

.ladies-online h3 {
	font-size: 24px;
	display: inline-block;
	color: #959595;
	position: relative;
	margin-bottom: 25px;
}

.ladies-online h3::before, .ladies-online h3::after {
	width: 188px;
	content: '';
	display: block;
	border-top: 1px solid #6a696e;
	position: absolute;
	top: 14px;
}

.ladies-online  h3::before {
	left: 198px;
}

.ladies-online  h3::after {
	right: 198px;
}

.ladies-avatar {
	position: relative;
	color: #fff;
}
.ladies-avatar img {
	height: 438px;
}

.ladies-avatar_online {
	background-color: #57b711;
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px 14px 7px 16px;
	font-size: 18px;
}

.ladies-avatar_view {
	background-color: rgba(0,0,0,.41);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 14px 12px 11px 14px;
	font-size: 14px;
	color: #fff;
}
.ladies-avatar_view  a {
	color: #fff;
}

.ladies-avatar_view-icon {
	background: url(../img/view_profile.png)no-repeat;
	width: 12px;
	height: 12px;
	padding-right: 7px;
	display: inline-block;
}
/*Navigation*/
.ladies-nav{
	border: 1px solid #e1e1e1;
	border-top: none;
	font-size: 0px;
}

.ladies-nav>div {
	position: relative;
	color: #979797;
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
}
.ladies-nav div > a:hover {
	color: #979797;
	text-decoration: none;
}

.ladies-nav_letter {
	padding: 17px 15px 13px 42px;
	width: 34%;
}
.ladies-nav_chat {
	width:32%;
	padding: 17px 18px 13px 45px;
	border-right: 1px solid #e1e1e1; 
	border-left: 1px solid #e1e1e1;
}

.ladies-nav_video{
	width: 34%;
	padding: 17px 22px 13px 37px;
}

.ladies-nav_icon {
	background: url(../img/ladies-snipet.png)no-repeat;
	width: 21px;
	height: 21px;
	position: absolute;
	top: 12px;
	left: 17px;
}

.ladies-nav_icon.chat {
	background-position: -26px 0;
	top: 13px;
	left: 17px;
}
.ladies-nav_icon.video {
	background-position: -47px 0;
	top: 11px;
	left: 9px;
}

.ladies-profile {
	margin-top: 15px;
	margin-left: 15px;
	text-align: left;
}

.ladies-profile p {
	color: #959595;
	font-size: 18px;
	padding-top: 6px;
}
.ladies-profile_name {
	position: relative;
	font-size: 36px;
	display: inline-block;
}
.ladies-profile_status {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #57b711;
	position: absolute;
	top: 2px;
	right: -23px;
}

.most-popular-profile.ladies-online  h3::after, .most-popular-profile.ladies-online  h3::before {
	width: 143px;
}
.most-popular-profile.ladies-online  h3::after {
	right: 289px;
}
.most-popular-profile.ladies-online  h3::before {
	left: 289px;
}

/*Slider*/

.owl-nav {
	position: relative;
}

.owl-prev, .owl-next {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color:rgba(255,255,255,.5)!important;
	border-radius: 100%;
	z-index: 3;
	top: -365px;
}

.owl-prev span, .owl-next span{
	font-size: 36px;
	line-height: 14px;
}

.owl-prev {
	left: 20px;
}
.owl-next {
	right: 20px;
}

/*content*/

.content {
	margin-top: 100px;
}

.content h2 {
	color: #959595;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.content-news_article {
	margin-top: 35px;
}

.content-news_article-icon {
	width: 83px;
	height: 83px;
	border-radius: 50%;
	float: left;
}
.content-news_article-icon.article_1 {
	background: #dfdfdf url(../img/article1.png) -35px -18px no-repeat;
}

.content-news_article-icon.article_2 {
	background: #dfdfdf url(../img/article2.png) -8px 0 no-repeat;
}

.content-news_article-icon.article_3 {
	background: #dfdfdf url(../img/article3.png) -26px 0 no-repeat;
}

.content-article {
	margin-left: 105px;
}

.content-article .content-news_article-title{
	font-family: 'OpenSansBold';
	color: #16b4dc;
	text-decoration: underline;
}
.content-article .content-news_article-title:hover {
	color: #16b4dc;
	text-decoration: none;
}

.content-news_article-text{
	color: #959595;
	font-size: 14px;
	max-height: 42px;
	overflow: hidden;
	margin-top: 13px;
	padding-right: 15px;
	line-height: 20px;
}

.content-news_article-date{
	color: #d9d9d9;
	display: block;
	font-size: 12px;
	margin-top: 5px;
}

.content-article .content-news_article-link a{
	margin-top: 14px;
	display: inline-block;
	background-color: #57b711;
	border: none;
	border-radius: 2px;
	color: #fff;
	padding: 8px 14px 7px 16px;
}

.content-article .content-news_article-link a:hover {
	background-color: #16b4dc;
}

.content-about-brides p {
	font-size: 14px;
	color: #a0a0a0;
	max-height: 436px;
	overflow: hidden;
	margin-top: -6px;
	line-height: 24px;
	padding: 0 6px;
}

.content-about-brides p a {
	color: #16b4dc;
	text-decoration: underline;
}

.content-about-brides p a:hover {
	text-decoration: none;
}

.content-banner {
	background: #f2f2f2;
	text-align: center;
	max-width: 399px;
	max-height: 525px;
	margin-top: 13px;
}

.content-banner h2 {
	line-height: 525px;
	border-bottom: none;
}

/*register*/
.register{
	margin-top: 130px;
	background: url(../img/register_bg.png) center repeat;
	height: 450px;
}
.register-wrap {
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.register-wrap-content{
	position: relative;
	z-index: 2;
}
.register-wrap::before {
	content: '';
	display: block;
	background: url(../img/register_bike_bg.png) 0 0 no-repeat;
	width: 580px;
	height: 343px;
	position: absolute;
	top: -81px;
	left: -204px;
	z-index: 1;
}

.register-title {
	color: #54524c;
	margin-top: 137px;
	margin-bottom: 6px;
	text-shadow: 0 0 6px #eee9df;
}

.register-text {
	color: #959595;
	font-size: 30px;
	margin-bottom: 43px;
	text-shadow: 0 0 6px #eee9df;
}

.register-link {
	display: inline-block;
	color: #fff;
	font-size: 22px;
	padding: 16px 26px 14px 30px;
	border: 1px solid #fff;
	background-color: #1892b1;
}
.register-link:hover {
	color: #fff;
	background-color: #16b4dc;
	text-decoration: none;
}

/*footer*/

footer {
	padding: 35px 0 80px;
	background-color: #f1f1f1;
	border-top: 6px solid #16b4dc;

}
.footer-wrap  {
	border-right: 1px solid #e6e6e6;
	height: 294px;
}

.footer-copyright {
	font-size: 12px;
	color: #787878;
	margin-top: 16px;
	margin-bottom: 15px;
}

.footer-social_icon {
	background: url(../img/footer-snipet-social.png) 0 0 no-repeat;
	width: 42px;
	height: 42px;
	display: inline-block;
	margin-right: 3px;
}
.footer-social_icon.facebook {
	background-position: -48px 0;
}
.footer-social_icon.twitter {
	background-position: -96px 0;
}
.footer-social_icon.vk {
	background-position: -144px 0;
	margin-right: 0;
}

.footer-title {
	font-size: 18px;
	color: #000;
	margin-top: 16px;
}

.footer-about {
	margin-top: 29px;
	font-size: 12px;
}

.footer-about li {
	margin-top: 11px;
}

.footer-about li>a {
	color: #979797;
}

.footer-about li>a:hover {
	color: #979797;
}

.footer-categories {
	margin-top: 33px;
}

.footer-categories li {
	margin-top: 7px;
}

.footer-categories a {
	display: block;
	color: #646464;
	font-size: 12px;
	padding-top: 11px;
}
.footer-categories .for-girls {
	color: #9e38a2;
}

.footer-categories .agency-icon {
	background: url(../img/footer-snipet-iconset.png) -4px -3px no-repeat;
	width: 34px;
	height: 34px;
	display: block;
	margin-right: 11px;
	float: left;
}
.footer-categories .agency-icon.icon2 {
	background-position: -4px -43px;
}
.footer-categories .agency-icon.icon3 {
	background-position: -4px -80px;
}
.footer-categories .agency-icon.icon4 {
	background-position: -4px -118px;
}
.footer-categories .agency-icon.icon5 {
	background-position: -4px -156px;
}

/*for servises*/
.footer-categories .agency-icon.icon6 {
	background-position: -45px -3px;
}
.footer-categories .agency-icon.icon7 {
	background-position: -45px -40px;
}
.footer-categories .agency-icon.icon8 {
	background-position: -45px -78px;
}
.footer-categories .agency-icon.icon9 {
	background-position: -45px -116px;
}
.footer-categories .agency-icon.icon10 {
	background-position: -45px -154px;
}
.footer-categories .agency-icon.icon11 {
	background-position: -45px -192px;
}